---
layout: handbook-page-toc
title: "Secrets Manager - Weekly Project Plan"
description: "Secrets Manager - Weekly Project Plan - Pipeline Security Group"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Secrets Manager - Weekly Project Plan

### Milestone 16.7 (November 13, 2023 - December 15, 2023)

#### Goals:
- [Create the secrets manager index page](https://gitlab.com/gitlab-org/gitlab/-/issues/424457)
- [Create the add/edit secrets form](https://gitlab.com/gitlab-org/gitlab/-/issues/424458)

### Week of  November 20, 2023 (Milestone 16.7)

#### Team Capacity:
- 2 FE

#### Goals:
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424457](https://gitlab.com/gitlab-org/gitlab/-/issues/424457) Begin development for the secrets manager index page
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424458](https://gitlab.com/gitlab-org/gitlab/-/issues/424458) Begin the development for the add/edit secrets form

### Week of  November 27, 2023 (Milestone 16.7)

#### Team Capacity:
- 2 FE

#### Goals:
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424457](https://gitlab.com/gitlab-org/gitlab/-/issues/424457) Create an MR for the secrets manager index page
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424458](https://gitlab.com/gitlab-org/gitlab/-/issues/424458) Begin the MR for the add/edit secrets form

### Week of  December 4, 2023 (Milestone 16.7)

#### Team Capacity:
- 2 FE

#### Goals:
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424457](https://gitlab.com/gitlab-org/gitlab/-/issues/424457) Review the MR for the secrets manager index page
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424458](https://gitlab.com/gitlab-org/gitlab/-/issues/424458) Review the MR for the add/edit secrets form

### Week of  December 11, 2023 (Milestone 16.7)

#### Team Capacity:
- 2 FE

#### Goals:
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424457](https://gitlab.com/gitlab-org/gitlab/-/issues/424457) Merge the MR for the secrets manager index page
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424458](https://gitlab.com/gitlab-org/gitlab/-/issues/424458) Merge the MR for the add/edit secrets form


### Milestone 16.8 (December 18, 2023 - January 12, 2024)

#### Goals:
-

### Milestone 16.9 (January 15, 2024 - February 9, 2024)

#### Goals:
-

### Milestone 16.10 (February 12, 2024 - March 8, 2024)

#### Goals:
-

### Milestone 16.11 (March 11, 2024 - April 12, 2024)

#### Goals:
-

### Milestone 17.0 (April 15, 2024 - May 10, 2024)

#### Goals:
-

## Archive

<details><summary>Click to view past plans</summary>

### Week of August 14, 2023 (Milestone 16.3 ending)

#### Team Capacity:
- 1 BE
- 1 FE 

####  Goals:
- [https://gitlab.com/gitlab-org/gitlab/-/issues/421626+](https://gitlab.com/gitlab-org/gitlab/-/issues/421626) Determine how we want to handle encryption.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/416701](https://gitlab.com/gitlab-org/gitlab/-/issues/416701) Create an initial outline for architecture design for backend.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/415936+](https://gitlab.com/gitlab-org/gitlab/-/issues/415936) Create first iteration issue for frontend MVC work.

### Week of August 21, 2023 (Milestone 16.4 begins)

#### Team Capacity:
- 1 BE
- 1 FE 

#### Goals:
- [https://gitlab.com/groups/gitlab-org/-/epics/10691](https://gitlab.com/groups/gitlab-org/-/epics/10691) Write up a technical proposal for the POC and create iterative issues.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/416701](https://gitlab.com/gitlab-org/gitlab/-/issues/416701) Fill in details on the foundational elements of the architecture design for backend.
- [https://gitlab.com/groups/gitlab-org/-/epics/10723](https://gitlab.com/groups/gitlab-org/-/epics/10723) Begin work for first iteration of frontend MVC work.

### Week of  August 28, 2023 (Milestone 16.4)

#### Team Capacity:
- 1 BE
- 1 FE
- 1 Designer

#### Goals:
- [https://gitlab.com/gitlab-org/gitlab/-/issues/416701](https://gitlab.com/gitlab-org/gitlab/-/issues/416701) Meet with security engineers to discuss our backend architecture proposal.
- [https://gitlab.com/groups/gitlab-org/-/epics/11373](https://gitlab.com/groups/gitlab-org/-/epics/11373) Create the frontend issues for the MVC work.
- [https://gitlab.com/gitlab-org/ux-research/-/issues/2470](https://gitlab.com/gitlab-org/ux-research/-/issues/2470) Send out invitations for feedback based on initial UX research about secret names.

### Week of September 4, 2023 (Milestone 16.4)

#### Team Capacity:
- 1 BE
- 1 FE 
- 1 Designer

#### Goals:
- [https://gitlab.com/gitlab-org/gitlab/-/issues/416701](https://gitlab.com/gitlab-org/gitlab/-/issues/416701) Make adjustments to our backend architecture design based on security feedback.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/416701](https://gitlab.com/gitlab-org/gitlab/-/issues/416701) Start the [threat model](https://about.gitlab.com/handbook/security/threat_modeling/) process.
- [https://gitlab.com/groups/gitlab-org/-/epics/11373](https://gitlab.com/groups/gitlab-org/-/epics/11373) Finalize the frontend issues for the MVC work.
- [https://gitlab.com/gitlab-org/ux-research/-/issues/2470](https://gitlab.com/gitlab-org/ux-research/-/issues/2470) Report on feedback from interviews. 

### Week of September 11, 2023 (Milestone 16.4)

#### Team Capacity:
- 1 BE
- 1 FE 
- 1 Designer

#### Goals:
- [https://gitlab.com/gitlab-org/gitlab/-/issues/416701](https://gitlab.com/gitlab-org/gitlab/-/issues/416701) Finish first draft of backend architecture design.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/416701](https://gitlab.com/gitlab-org/gitlab/-/issues/416701) Work with appsec to continue the [threat model](https://about.gitlab.com/handbook/security/threat_modeling/) process.
- [https://gitlab.com/groups/gitlab-org/-/epics/11373](https://gitlab.com/groups/gitlab-org/-/epics/11373) Begin working on the first frontend iteration for the MVC.
- [https://gitlab.com/gitlab-org/ux-research/-/issues/2470](https://gitlab.com/gitlab-org/ux-research/-/issues/2470) Iterate on early designs based on feedback. 

### Milestone 16.5 (September 18, 2023 - October 16, 2023)

#### Team Capacity:
- 1 BE
- 1 FE 

#### Goals:
- [https://gitlab.com/gitlab-org/gitlab/-/issues/416701](https://gitlab.com/gitlab-org/gitlab/-/issues/416701) Complete the [threat model](https://about.gitlab.com/handbook/security/threat_modeling/) process.
- [https://gitlab.com/groups/gitlab-org/-/epics/11373](https://gitlab.com/groups/gitlab-org/-/epics/11373) Create an MR for the first frontend iteration for the MVC.
- [https://gitlab.com/gitlab-org/ux-research/-/issues/2470](https://gitlab.com/gitlab-org/ux-research/-/issues/2470) Present new design changes. 

### Week of  October 2, 2023 (Milestone 16.5)

#### Team Capacity:
- 1 BE
- 1 FE 
- 1 Designer

#### Goals:
- [https://gitlab.com/gitlab-com/gl-security/appsec/threat-models/-/issues/34](https://gitlab.com/gitlab-com/gl-security/appsec/threat-models/-/issues/34) Initialize the [threat model](https://about.gitlab.com/handbook/security/threat_modeling/) process.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424452](https://gitlab.com/gitlab-org/gitlab/-/issues/424452) Merge MR which creates feature flag and base page for the frontend.
- [https://gitlab.com/gitlab-org/ux-research/-/issues/2470](https://gitlab.com/gitlab-org/ux-research/-/issues/2470) Continue receiving assignment 2 feedback.

### Week of  October 9, 2023 (Milestone 16.5)

#### Team Capacity:
- 1 BE
- 1 FE 
- 1 Designer

#### Goals:
- [https://gitlab.com/gitlab-com/gl-security/appsec/threat-models/-/issues/34](https://gitlab.com/gitlab-com/gl-security/appsec/threat-models/-/issues/34) Complete the [threat model](https://about.gitlab.com/handbook/security/threat_modeling/) process.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424453](https://gitlab.com/gitlab-org/gitlab/-/issues/424453) Create an MR for creating the root Vue component.
- [https://gitlab.com/gitlab-org/ux-research/-/issues/2470](https://gitlab.com/gitlab-org/ux-research/-/issues/2470) Present feedback findings from assignment 2. 

### Week of  October 16, 2023 (Milestone 16.5 and 16.6)

#### Team Capacity:
- 1 BE
- 1 FE 
- 1 Designer

#### Goals:
- [https://gitlab.com/gitlab-com/gl-security/appsec/threat-models/-/issues/34](https://gitlab.com/gitlab-com/gl-security/appsec/threat-models/-/issues/34) Address feedback from the [threat model](https://about.gitlab.com/handbook/security/threat_modeling/) process.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424453](https://gitlab.com/gitlab-org/gitlab/-/issues/424453) Merge MR for creating the root Vue component.
- [https://gitlab.com/gitlab-org/ux-research/-/issues/2470](https://gitlab.com/gitlab-org/ux-research/-/issues/2470) Present new design changes.

### Week of  October 23, 2023 (Milestone 16.6)

#### Team Capacity:
- 1 BE
- 1 FE 

#### Goals:
- [https://gitlab.com/gitlab-com/gl-security/appsec/threat-models/-/issues/34](https://gitlab.com/gitlab-com/gl-security/appsec/threat-models/-/issues/34) Complete the [threat model](https://about.gitlab.com/handbook/security/threat_modeling/) process.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/416701](https://gitlab.com/gitlab-org/gitlab/-/issues/416701) Create an MR with updated architecture design based on feedback from threat model.
- [https://gitlab.com/groups/gitlab-org/-/epics/11776](https://gitlab.com/groups/gitlab-org/-/epics/11776) Begin working on first backend POC for using GCP key management for key storage.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424452](https://gitlab.com/gitlab-org/gitlab/-/issues/424452) Merge MR which creates feature flag and base page for the frontend

### Week of  October 30, 2023 (Milestone 16.6)

#### Team Capacity:
- 1 BE
- 1 FE 

#### Goals:
- [https://gitlab.com/groups/gitlab-org/-/epics/11776](https://gitlab.com/groups/gitlab-org/-/epics/11776) Complete first backend POC for using GCP key management for key storage.
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424453](https://gitlab.com/gitlab-org/gitlab/-/issues/424453) Create an MR for creating the root Vue component

### Week of  November 6, 2023 (Milestone 16.6)

#### Team Capacity:
- 1 BE
- 1 FE 

#### Goals:
- [https://gitlab.com/groups/gitlab-org/-/epics/11776](https://gitlab.com/groups/gitlab-org/-/epics/11776) Present findings from first backend POC for using GCP key management for key storage.
- [https://gitlab.com/groups/gitlab-org/-/epics/11776](https://gitlab.com/groups/gitlab-org/-/epics/11776) Begin work on backend POC for client authentication
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424453](https://gitlab.com/gitlab-org/gitlab/-/issues/424453) Merge the MR for creating the root Vue component

### Week of  November 13, 2023 (Milestone 16.6)

#### Team Capacity:
- 1 BE
- 1 FE 

#### Goals:
- [https://gitlab.com/groups/gitlab-org/-/epics/11776](https://gitlab.com/groups/gitlab-org/-/epics/11776) Complete work on backend POC for client authentication
- [https://gitlab.com/gitlab-org/gitlab/-/issues/424457](https://gitlab.com/gitlab-org/gitlab/-/issues/424457) Begin work on the secrets managemer index page

</details> 
