---
layout: handbook-page-toc
title: "Test metrics dashboard"
description: "Data on all E2E test runs"
---

## On this page

{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## E2E test execution metrics
{:.no_toc}

This page contains overview of all automated end-to-end test executions across different environments and pipelines.

Terms:

- `smoke` - small subset of most important and fastest e2e tests. These tests are usually to block deployments or merge request merging when failing.
- `reliable` - [reliable](/handbook/engineering/infrastructure/test-platform/reliable-tests/) is an e2e tests that has been passing consistently in all pipeline runs.
These tests are usually to block deployments or merge request merging when failing.
- `sanity` - test suite that contains `smoke` and `reliable` tests.
- `full` - the full tests suite in the context of particular pipeline/environment it runs in.
- `quarantine` - tests that are temprarily disabled
- `flaky` - tests that are failing on first execution but passing on second attempt via [rspec-retry](https://github.com/NoRedInk/rspec-retry)

## Master

### package-and-test

E2E test execution against various configurations of `omnibus` images.

- <%= e2e_allure_report("e2e-package-and-test") %>
- <%= e2e_grafana_link("e2e-package-and-test") %>

<%= e2e_dashboards("e2e-package-and-test") %>

### review-app

E2E test execution against cloud native review-app installation.

- <%= e2e_allure_report("e2e-review-qa") %>

#### smoke

- <%= e2e_grafana_link("review-qa-smoke") %>

<%= e2e_dashboards("review-qa-smoke") %>

#### blocking

In context of review-app these are `reliable` tests that indicate that these are blocking merge request merging when failing.

- <%= e2e_grafana_link("review-qa-blocking") %>

<%= e2e_dashboards("review-qa-blocking") %>

#### non-blocking

All other tests that are not part of `smoke` or `blocking` suite. These tests are optional and don't block merging of merge request when
failing in merge request pipeline.

- <%= e2e_grafana_link("review-qa-non-blocking") %>

<%= e2e_dashboards("review-qa-non-blocking") %>

## Nightly

E2E test execution against various configurations of `omnibus` nightly images.

- <%= e2e_allure_report("nightly") %>
- <%= e2e_grafana_link("nightly") %>

<%= e2e_dashboards("nightly") %>

## Staging

E2E test execution against `https://staging.gitlab.com` environment.

### Sanity

- <%= e2e_allure_report("staging-sanity") %>
- <%= e2e_grafana_link("staging-sanity") %>

<%= e2e_dashboards("staging-sanity") %>

### Full

- <%= e2e_allure_report("staging-full") %>
- <%= e2e_grafana_link("staging-full") %>

<%= e2e_dashboards("staging-full") %>

## Staging Ref

E2E test execution against `https://staging-ref.gitlab.com` environment.

### Sanity

- <%= e2e_allure_report("staging-ref-sanity") %>
- <%= e2e_grafana_link("staging-ref-sanity") %>

<%= e2e_dashboards("staging-ref-sanity") %>

### Full

- <%= e2e_allure_report("staging-ref-full") %>
- <%= e2e_grafana_link("staging-ref-full") %>

<%= e2e_dashboards("staging-ref-full") %>

## Preprod

E2E test execution against `https://pre.gitlab.com` environment.

- <%= e2e_allure_report("preprod-sanity") %>
- <%= e2e_grafana_link("preprod-sanity") %>

<%= e2e_dashboards("preprod-sanity") %>

## Production

E2E test execution against `https://gitlab.com` environment.

### Sanity

- <%= e2e_allure_report("production-sanity") %>
- <%= e2e_grafana_link("production-sanity") %>

<%= e2e_dashboards("production-sanity") %>

### Full

- <%= e2e_allure_report("production-full") %>
- <%= e2e_grafana_link("production-full") %>

<%= e2e_dashboards("production-full") %>
